@import "../../scss/colors.scss";

.hero {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 122px;
  padding-bottom: 50px;

  @media screen and (max-width: 1441px) {
    padding-top: 95px;
  }
  @media screen and (max-width: 1025px) {
    padding-top: 60px;
  }
  @media screen and (max-width: 769px) {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  &__img {
    display: none;

    @media screen and (max-width: 769px) {
      display: flex;
      max-width: 400px;
      width: calc(100% + 30px);
      margin: 0 -15px;
      margin-bottom: -230px;
    }
  }

  &__image {
    position: absolute;
    z-index: -1;
    bottom: -13%;
    max-width: 33%;
    width: 100%;

    @media screen and (max-width: 1441px) {
      max-width: 45%;
      bottom: -25%;
    }
    @media screen and (max-width: 769px) {
      display: none;
    }

    &--left {
      left: 0;

    }

    &--right {
      right: 0;
    }

    & img {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #072E52;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 60.5px */
    text-transform: uppercase;

    max-width: 855px;
    width: 100%;
    margin: 0 auto;

    margin-bottom: 20px;

    @media screen and (max-width: 1441px) {
      font-size: 50px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 40px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 30px;
    }
    @media screen and (max-width: 769px) {
      font-size: 25px;
      text-align: center;
    }
  }

  &__subtitle {
    color: #072E52;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 38.5px */
    margin-bottom: 40px;
    text-align: center;


    @media screen and (max-width: 1441px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 25px;
    }
    @media screen and (max-width: 769px) {
      font-size: 20px;
      text-align: center;
      margin-bottom: -65px;
    }
  }


  &__button {
    border-radius: 5px;
    background: var(--ca-534-b, #CA534B);
    box-shadow: 0px 20px 20px -24px #742E29;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    padding: 22px 46px;
    box-sizing: border-box;
    margin-bottom: 50px;

    @media screen and (max-width: 1441px) {
      max-width: 320px;
    }
    @media screen and (max-width: 1025px) {
      max-width: 300px;
    }
    @media screen and (max-width: 769px) {
      max-width: 400px;
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  &__bottom {
    max-width: 526px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 23px 30px;
    box-sizing: border-box;

    @media screen and (max-width: 769px) {
      padding: 17px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__idea {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    color: #072E52;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    @media screen and (max-width: 769px) {
      flex-direction: column;
      row-gap: 10px;
      max-width: 164px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1025px) {
  }

  &__notice {
    color: var(--215-eab, #215EAB);
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
    margin-bottom: 15px;

    @media screen and (max-width: 769px) {
      font-size: 18px;
    }
  }
}
