@import "./colors";

.btn {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;

  @media screen and (max-width: 1441px) {
    font-size: 18px;
    height: 55px;
  }

  @media screen and (max-width: 992px) {
    font-size: 16px;
    height: 50px;
    padding: 10px;
  }

  &:focus {
    outline: none;
  }

  &--blue-lite {
    background: $blue-lite;
    color: $blue;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);

    &:hover {
      background: $blue;
      color: $blue-lite;
    }
  }

  &--blue {
    background: $blue;
    border: 1px solid $blue;
    color: #FFF;

    &:hover {
      background: transparent;
      color: $blue;
    }
  }
}
