@import "../../scss/colors.scss";

.section-subtitle {
  color: #072E52;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 30.8px */
  text-align: center;
  margin: 0;

  @media screen and (max-width: 1441px) {
    font-size: 26px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1025px) {
    font-size: 20px;
  }
  @media screen and (max-width: 769px) {
    font-size: 18px;
  }
}
